.jumbotron {
    background-color: #00838F;
    /* rgb(123, 143, 82); */
    color: white;
   
}

footer {
    color:#00838F;
}

.container {
    background-color: #EFEBE9;
}

.selSection {
    background-color: #b71c1c;
}

#selTitle {
    color: white;
}


