<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Pals!</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Belly Button Biodiversity</h1>
            <h1>Dashboard</h1>
            <p>Use the interactive charts below to explore the dataset!</p>
        </div>

        <div class="row featurette">
            <div class="col-md-3">
                
                <div id="selDropdown"></div>
            </div>
            <div class="col-md-5">
                
                <div id="pie"></div>
            </div>
            <div class="col-md-4">
                <h4 class="featurette-heading">Explore the sample data. <span class="text-muted">Check Pie Chart.</span></h4>
                <img src="{{ url_for('static', filename='img/Belly.jpg') }}" alt="Belly image" style="width:100%;">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            
            <div class="col-md-5">
                <h4 class="featurette-heading">Check the weekly washing frequency. <span class="text-muted">Check Gauge Chart</span></h4>
                <img src="{{ url_for('static', filename='img/Bacteria.jpg') }}" alt="Bacteria image" style="width:100%;">
            </div>
            <div class="col-md-7">
                
                <div id="gauge"></div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            
            <div class="col-md-12">
                <h4 class="featurette-heading">Check the bubble chart. <span class="text-muted">Check Bubble Chart</span></h4>
                <div id="bubble"></div>
            </div>
        </div>

        <hr class="featurette-divider">

        <footer>
            <p>&copy; 2018 Jiemei Zhang</p>
        </footer>
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
</body>

</html>
